$border: gray;
$li-height: 2.5rem;
$span-height: 1.5rem;

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.main-admin { // головна адмін панель
    padding: 5px 10px;
    display: flex;
    * {
        margin: 2px;
    }
    button {
        cursor: pointer;
    }
    .left {
        padding: 5px;
        width: 45%;
        display: block;
    }
    .right {
        padding: 5px;
        width: 45%;
        display: block;
        padding-left: 40px;
    }
    #new-password {
        border: 1px solid $border;
        border-radius: 5px;
        display: none;
    }
    textarea {
        width: 100%;
    }
    input {
        width: 50%;
    }
    button {
        width: 30%;
    }
    a {
        margin: 0;
        padding: 0;
    }
} // main-admin

#modal-back {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
.table { // таблиця бд
    padding-top: $li-height*2.5;
    min-width: 500px;
    button {
        cursor: pointer;
    }
    header {
        min-width: 500px;
        border-bottom: 2px solid black;
        position: fixed;
        width: 100%;
        background-color: white;
        margin: 0;
        padding: 5px;
        top: 0;
        z-index: 1;
    }
    ul {
        margin: 0;
        padding: 0;
    }

// таблична частина
li {
    &.row { // рядки таблиці
        height: $li-height;
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 100%;
        &:nth-child(odd) {
            background: linear-gradient(to bottom, #fff, rgb(199, 199, 199));
        }
    &.row-header { // 
        text-align: center;
        font-weight: bold;
    }

    button#edit { // кнопка редагування
        cursor: pointer;
        margin-right: 5px;
        background-image: url(img/edit-button.png);
        background-size: cover;
        height: 1.5em;
        width: 1.5em;
        outline: none;
        border: none;
        border-radius: 2px;
        }
    } //.row
} // li

span {
&.column { // поля таблиці
    padding: 10px 3px;
    border-right: 1px solid $border;
    margin: 0 5px;
    height: 1.5rem;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    &:nth-child(1) {
        width: 3%;
        border-right: none;
    }
    &:nth-child(2) {
        width: 20%;
    }
    &:nth-child(3) {
        width: 30%;
    }
    &:nth-child(4) {
        width: 15%;
        border-right: none;
    }
    &:nth-child(4) {
        width: 10%;
        border-right: none;
    }
    &.column-header {
        border-right: none;
        text-align: center;
        font-weight: bold;
        }
    } //.column
} // span

form { // форма редагування запису
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
    background-color: #fff;
    position: fixed;
    width: 95%;
    margin: 0 2.5%;
    z-index: 3;
    top: $li-height*2;
    li {
        list-style-type: none;
        margin: 5px 0;
    }
    textarea {
        width: 90%;
    }
    input {
        width: 50%;
    }
    .form-photo {
        position: absolute;
        top: 200px;
        right: 110px;
        img {
            max-width: 100px;
            max-height: 100px;
        }
    }
    #bookauthor, #bookauthor-select {
        padding: 5px;
        border: 1px solid $border;
        border-radius: 5px;
        width: 30%;
        overflow-x: hidden;
        margin-bottom: 10px;
        height: 5em;
            
        img {
            max-width: 1em;
            max-height: 1em;
            cursor: pointer;
            position: relative;
            top: 2px;
            margin-right: 3px;
        }
    }
    #bookauthor-select {
        height: 40%;
        display: none;
        position: fixed;
        top: 150px;
        left: 150px;
        background-color: white;
        li {
            cursor: pointer;
        }
    }
} // form

} // .table