body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.main-admin {
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-admin * {
  margin: 2px;
}

.main-admin button {
  cursor: pointer;
}

.main-admin .left {
  padding: 5px;
  width: 45%;
  display: block;
}

.main-admin .right {
  padding: 5px;
  width: 45%;
  display: block;
  padding-left: 40px;
}

.main-admin #new-password {
  border: 1px solid gray;
  border-radius: 5px;
  display: none;
}

.main-admin textarea {
  width: 100%;
}

.main-admin input {
  width: 50%;
}

.main-admin button {
  width: 30%;
}

.main-admin a {
  margin: 0;
  padding: 0;
}

#modal-back {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.table {
  padding-top: 6.25rem;
  min-width: 500px;
}

.table button {
  cursor: pointer;
}

.table header {
  min-width: 500px;
  border-bottom: 2px solid black;
  position: fixed;
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 5px;
  top: 0;
  z-index: 1;
}

.table ul {
  margin: 0;
  padding: 0;
}

.table li.row {
  height: 2.5rem;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.table li.row:nth-child(odd) {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#c7c7c7));
  background: linear-gradient(to bottom, #fff, #c7c7c7);
}

.table li.row.row-header {
  text-align: center;
  font-weight: bold;
}

.table li.row button#edit {
  cursor: pointer;
  margin-right: 5px;
  background-image: url(img/edit-button.png);
  background-size: cover;
  height: 1.5em;
  width: 1.5em;
  outline: none;
  border: none;
  border-radius: 2px;
}

.table span.column {
  padding: 10px 3px;
  border-right: 1px solid gray;
  margin: 0 5px;
  height: 1.5rem;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.table span.column:nth-child(1) {
  width: 3%;
  border-right: none;
}

.table span.column:nth-child(2) {
  width: 25%;
}

.table span.column:nth-child(3) {
  width: 35%;
}

.table span.column:nth-child(4) {
  width: 20%;
  border-right: none;
}

.table span.column.column-header {
  border-right: none;
  text-align: center;
  font-weight: bold;
}

.table form {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: none;
  background-color: #fff;
  position: fixed;
  width: 95%;
  margin: 0 2.5%;
  z-index: 3;
  top: 5rem;
}

.table form li {
  list-style-type: none;
  margin: 5px 0;
}

.table form textarea {
  width: 90%;
}

.table form input {
  width: 50%;
}

.table form .form-photo {
  position: absolute;
  top: 200px;
  right: 110px;
}

.table form .form-photo img {
  max-width: 100px;
  max-height: 100px;
}

.table form #bookauthor, .table form #bookauthor-select {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 30%;
  overflow-x: hidden;
  margin-bottom: 10px;
  height: 5em;
}

.table form #bookauthor img, .table form #bookauthor-select img {
  max-width: 1em;
  max-height: 1em;
  cursor: pointer;
  position: relative;
  top: 2px;
  margin-right: 3px;
}

.table form #bookauthor-select {
  height: 40%;
  display: none;
  position: fixed;
  top: 150px;
  left: 150px;
  background-color: white;
}

.table form #bookauthor-select li {
  cursor: pointer;
}
/*# sourceMappingURL=admin.css.map */