$nav-bgc: rgb(154,223,244); // фон меню
$nav-color: rgb(44,84,97); // колір тексту меню
$color: rgb(7, 30, 37); // колір тексту контенту
$color-bold: rgb(7, 45, 58); // колір заголовків та виділених фрагментів
$button: rgb(227, 231, 236);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bak-project {
font-family: sans-serif;
padding: 0 0px;

.vert-align {
    display: flex;
    align-items: center;
}

a {
    color: $color;
    cursor: pointer;
    &:active {
        color: $nav-color;
    }
}

.click {
    cursor: pointer;
}

header {
z-index: 1;
width: 100%;
height: 133px;
position: fixed;
background-image: url(img/bluewithstripes.jpg);
.logo {
    position: absolute;
    width: 100%;
    .logo-gradient {
        position: absolute;
        background: linear-gradient(to right, transparent, $nav-color);
        height: 133px;
        width: 100%;
    }
}
}

nav {
    background-color: $nav-bgc;
    padding: 10px 0 5px 15px;
    position: fixed;
    top: 133px;
    width: 100%;
    a {
        margin: 0 5px;
        padding: 5px 5px 10px 5px;
        text-decoration: none;
        border-radius: 5px;
        color:$nav-color;
        &:active {
            color:$nav-color;
        }
    }
    .nav-active {
        background-color: white; 
    }
}

main {
    padding: 200px 50px;
    color: $color;

    b, h1, h2, h3, h4, h5, h6 {
        color: $color-bold;
    }

    h1, h2, h3, h4, h5, h6 {
        padding: 5px 0;
    }

    #shop-list {
        display: none;
    }

    #where-buy {
        text-decoration: underline;
    }

    li {
    list-style-type: none;
    padding: 5px;
    }

    img.phone {
        height: 1em;
        position: relative;
        top: 1px;
        margin-right: 5px;
    }

    .news-header {
        padding: 0 200px;
        font-size: 1.5rem;
        margin-top: 20px;
    }
    .news-date {
        font-style: italic;
        margin-right: 10px;
        font-size: 1rem;
    }
    .news-separate {
        margin-bottom: 30px;
        padding: 0 200px;
    }
    .news-content {
        padding: 0 200px;
        text-align: justify;
        font-size: 1rem;
        margin: 15px 0 10px 20px;
    }

    .shop-list {}
    .shop-title {
        padding-left: 20px;
    }
    .shop-item {
        padding-left: 50px;
    }
    .author {
        display: flex;
        align-items: center;
        margin: 10px 0;
        .author-name {
            display: inline-block;
            text-align: right;
            margin: 0 15px 0 0;
            width: 25%;
            border-bottom: 1px solid $nav-bgc;
            padding-bottom: 10px;
        }
        .author-photo {
            max-width: 70px;
            max-height: 70px;
            border-radius: 50%;
            margin: 0 10px;
        }
        .author-photo-frame {
            width: 20%;
        }
        button {
            border-radius: 5px;
            background-color: $button;
            margin-left: 25px;
            padding: 0 5px;
            cursor: pointer;
            position: relative;
            right: 0;
        }
        img {
            width: 80px;
            margin-left: 20px;
        }
        .author-describe {
            display: none;
        }
    }
} // main

footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: $nav-bgc;
    color: $nav-color;
    width: 100%;
    padding: 5px;
    text-align: center;
}

} // bak-project