* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bak-project {
  font-family: sans-serif;
  padding: 0 0px;
}

.bak-project #nav-button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  display: none;
  z-index: 3;
}

@media (max-width: 500px) {
  .bak-project #nav-button {
    display: block;
  }
}

.bak-project #login-button {
  position: absolute;
  z-index: 4;
  opacity: 0;
}

.bak-project .vert-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bak-project a {
  color: #071e25;
  cursor: pointer;
}

.bak-project a:active {
  color: #2c5461;
}

.bak-project li {
  list-style-type: none;
}

.bak-project .click {
  cursor: pointer;
}

.bak-project header {
  z-index: 1;
  width: 100%;
  height: 133px;
  position: fixed;
  background-image: url(img/bluewithstripes.jpg);
}

.bak-project header .logo {
  position: absolute;
  width: 100%;
}

.bak-project header .logo .logo-gradient {
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#2c5461));
  background: linear-gradient(to right, transparent, #2c5461);
  height: 133px;
  width: 100%;
}

.bak-project nav {
  min-width: 480px;
  background-color: #9adff4;
  padding: 10px 0 5px 15px;
  position: fixed;
  top: 133px;
  width: 100%;
  -webkit-box-shadow: 0 20px 25px 10px white;
          box-shadow: 0 20px 25px 10px white;
}

.bak-project nav a {
  margin: 0 5px;
  padding: 5px 5px 10px 5px;
  text-decoration: none;
  border-radius: 5px;
  color: #2c5461;
}

.bak-project nav a:active {
  color: #2c5461;
}

@media (max-width: 500px) {
  .bak-project nav a {
    display: none;
  }
}

.bak-project nav .nav-active {
  background-color: white;
}

.bak-project ul#smart-nav {
  margin: 10px;
  position: fixed;
  display: none;
  top: 60px;
  right: 0;
  z-index: 3;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px 50px;
  -webkit-box-shadow: 3px 3px 7px 1px #2c5461;
          box-shadow: 3px 3px 7px 1px #2c5461;
}

.bak-project ul#smart-nav li {
  margin: 25px 0;
  font-size: 1.2em;
}

.bak-project main {
  padding: 200px 50px;
  color: #071e25;
}

@media (max-width: 992px) {
  .bak-project main {
    padding: 200px 20px;
  }
}

@media (max-width: 768px) {
  .bak-project main {
    padding: 200px 10px;
  }
}

.bak-project main b, .bak-project main h1, .bak-project main h2, .bak-project main h3, .bak-project main h4, .bak-project main h5, .bak-project main h6 {
  color: #072d3a;
}

.bak-project main h1, .bak-project main h2, .bak-project main h3, .bak-project main h4, .bak-project main h5, .bak-project main h6 {
  padding: 5px 0;
}

.bak-project main #shop-list {
  display: none;
}

.bak-project main #where-buy {
  text-decoration: underline;
}

.bak-project main li {
  list-style-type: none;
  padding: 5px;
}

.bak-project main li.separate {
  border-bottom: 1px solid #9adff4;
}

.bak-project main img.phone {
  height: 1em;
  position: relative;
  top: 1px;
  margin-right: 5px;
}

.bak-project main .news-header {
  width: 60%;
  margin: auto;
  font-size: 1.5rem;
  margin-top: 20px;
  padding: 0 10px;
}

@media (max-width: 992px) {
  .bak-project main .news-header {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .bak-project main .news-header {
    width: 95%;
  }
}

.bak-project main .news-date {
  display: block;
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 10px;
}

.bak-project main .news-content {
  width: 60%;
  position: relative;
  margin: 15px auto;
  padding: 0 10px 15px;
  text-align: justify;
  font-size: 1rem;
  border-bottom: 1px solid #9adff4;
}

@media (max-width: 992px) {
  .bak-project main .news-content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .bak-project main .news-content {
    width: 95%;
  }
}

.bak-project main .book-right {
  width: 60%;
}

@media (max-width: 768px) {
  .bak-project main .book-right {
    width: 100%;
  }
}

.bak-project main .book-right li {
  padding: 10px 0 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #9adff4;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .bak-project main .book-right li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .bak-project main .book-right li .book-author {
    margin-bottom: 10px;
  }
}

.bak-project main .book-right li div {
  width: 85%;
}

.bak-project main .book-right li span {
  display: block;
}

.bak-project main .book-right li span.book-author {
  color: #072d3a;
  font-style: italic;
}

.bak-project main .book-right li span.book-name {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.bak-project main .book-right li span.img {
  width: 15%;
  text-align: center;
}

.bak-project main .book-right li span img {
  max-width: 80px;
  max-height: 80px;
  -webkit-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 10px;
}

.bak-project main .book-right li span img.writer {
  width: 25px;
  position: relative;
  top: 13px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.bak-project main .book-right li .book-describe {
  display: none;
  text-align: justify;
  margin: 20px 0;
  width: 100%;
  word-wrap: break-word;
}

.bak-project main .book-right li.book-view {
  display: block;
}

.bak-project main .book-right li.book-view div {
  width: 100%;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .bak-project main .book-right li.book-view div {
    width: 100%;
  }
}

.bak-project main .book-right li.book-view .img {
  width: 100%;
}

.bak-project main .book-right li.book-view .book-name {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.bak-project main .book-right li.book-view .book-author {
  margin-bottom: 10px;
  text-align: center;
}

.bak-project main .book-right li.book-view .book-describe {
  display: block;
}

.bak-project main .book-right li.book-view img {
  max-width: 50%;
  max-height: 50%;
}

.bak-project main #folder-list {
  background-color: #e3e7ec;
  background: -webkit-gradient(linear, left top, right top, from(#e3e7ec), to(#fff));
  background: linear-gradient(to right, #e3e7ec, #fff);
  border-radius: 8px;
  text-decoration: none;
  display: none;
  padding: 5px;
  color: #2c5461;
  font-weight: bold;
}

.bak-project main #folder-list img {
  height: 1em;
  margin: 0 5px;
  position: relative;
  top: 2px;
}

@media (max-width: 768px) {
  .bak-project main #folder-list {
    display: block;
  }
}

.bak-project main .books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  .bak-project main .books {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bak-project main .books .book-left {
  width: 35%;
  margin-right: 5%;
}

@media (max-width: 768px) {
  .bak-project main .books .book-left {
    width: 100%;
  }
}

.bak-project main .books .book-left li {
  padding: 5px 15px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
  background: -webkit-gradient(linear, right top, left top, from(white), to(#9adff4));
  background: linear-gradient(to left, white, #9adff4);
}

.bak-project main .books .book-left span {
  width: 80%;
}

.bak-project main .books .book-left span.bage {
  width: 2em;
  font-size: 0.8em;
  text-align: center;
  -webkit-box-shadow: 1px 1px 1px 1px #e3e7ec;
          box-shadow: 1px 1px 1px 1px #e3e7ec;
  padding: 3px 0;
  border-radius: 50%;
}

.bak-project main .books .book-left a {
  text-decoration: none;
  display: block;
}

.bak-project main .books .book-left a.active {
  display: block;
}

@media (max-width: 768px) {
  .bak-project main .books .book-left a {
    display: none;
  }
}

.bak-project main .books .book-left a.visible {
  display: block;
}

.bak-project main .books .book-left img#close-book {
  height: 1em;
  margin-right: 5px;
  display: block;
}

.bak-project main .books .book-left img#open-book {
  display: none;
}

.bak-project main .books .book-left .active {
  font-weight: bold;
  font-size: 1.1em;
}

.bak-project main .books .book-left .active img#open-book {
  height: 1em;
  margin-right: 10px;
  display: block;
}

.bak-project main .books .book-left .active img#close-book {
  display: none;
}

.bak-project main .shop-title {
  padding-left: 20px;
}

.bak-project main .shop-item {
  padding-left: 50px;
  margin-bottom: 15px;
}

.bak-project main #authors-books {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  .bak-project main #authors-books {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bak-project main #authors-books #author-list {
  width: 60%;
}

@media (max-width: 768px) {
  .bak-project main #authors-books #author-list {
    width: 100%;
  }
}

.bak-project main #authors-books #author-list a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.bak-project main #authors-books .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 70px;
}

@media (max-width: 992px) {
  .bak-project main #authors-books .author {
    margin-right: 0;
  }
}

.bak-project main #authors-books .author .books-by-author {
  position: relative;
  top: 25px;
}

.bak-project main #authors-books .author .books-by-author .bage {
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 7px 0 #071e25;
          box-shadow: 2px 2px 7px 0 #071e25;
  width: 15px;
  height: 15px;
  font-size: 10px;
  text-align: center;
  padding: 2px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 18px;
  top: 11px;
  font-weight: bold;
}

.bak-project main #authors-books .author .books-by-author img.books {
  width: 27px;
}

.bak-project main #authors-books .author .author-describe {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bak-project main #authors-books .author .author-name {
  display: inline-block;
  text-align: right;
  width: 80%;
  border-bottom: 1px solid #9adff4;
  padding-bottom: 10px;
  padding-right: 20px;
  height: 3em;
}

.bak-project main #authors-books .author .author-name.active-item {
  font-size: 1.2em;
  border-bottom-width: 3px;
  font-weight: bold;
}

.bak-project main #authors-books .author img.author-photo {
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  position: relative;
  left: -7px;
  top: -8px;
  -webkit-box-shadow: 2px 2px 7px 0px gray;
          box-shadow: 2px 2px 7px 0px gray;
}

.bak-project main #authors-books .author span.author-photo {
  width: 70px;
  margin: 0;
  display: inline-block;
}

.bak-project main #authors-books .describe-text {
  padding: 5px;
  font-style: italic;
  font-size: 0.9em;
  text-align: justify;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  margin: 15px 0 30px 0;
  width: 85%;
}

.bak-project main #authors-books .describe-text img.close {
  position: absolute;
  cursor: pointer;
  width: 15px;
  height: 15px;
  top: -7px;
  right: -8px;
}

.bak-project footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  background-color: #9adff4;
  color: #2c5461;
  width: 100%;
  padding: 5px;
  text-align: center;
  -webkit-box-shadow: 0 -5px 25px 10px white;
          box-shadow: 0 -5px 25px 10px white;
}
/*# sourceMappingURL=styles.css.map */