* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bak-project {
  font-family: sans-serif;
  padding: 0 0px;
}

.bak-project #login-button {
  position: absolute;
  z-index: 4;
  opacity: 0;
}

.bak-project .vert-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bak-project a {
  color: #071e25;
  cursor: pointer;
}

.bak-project a:active {
  color: #2c5461;
}

.bak-project .click {
  cursor: pointer;
}

.bak-project header {
  z-index: 1;
  width: 100%;
  height: 133px;
  position: fixed;
  background-image: url(img/bluewithstripes.jpg);
}

.bak-project header .logo {
  position: absolute;
  width: 100%;
}

.bak-project header .logo .logo-gradient {
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#2c5461));
  background: linear-gradient(to right, transparent, #2c5461);
  height: 133px;
  width: 100%;
}

.bak-project nav {
  min-width: 480px;
  background-color: #9adff4;
  padding: 10px 0 5px 15px;
  position: fixed;
  top: 133px;
  width: 100%;
  -webkit-box-shadow: 0 20px 25px 10px white;
          box-shadow: 0 20px 25px 10px white;
}

.bak-project nav a {
  margin: 0 5px;
  padding: 5px 5px 10px 5px;
  text-decoration: none;
  border-radius: 5px;
  color: #2c5461;
}

.bak-project nav a:active {
  color: #2c5461;
}

.bak-project nav .nav-active {
  background-color: white;
}

.bak-project main {
  padding: 200px 50px;
  color: #071e25;
}

@media (max-width: 992px) {
  .bak-project main {
    padding: 200px 20px;
  }
}

@media (max-width: 768px) {
  .bak-project main {
    padding: 200px 10px;
  }
}

.bak-project main b, .bak-project main h1, .bak-project main h2, .bak-project main h3, .bak-project main h4, .bak-project main h5, .bak-project main h6 {
  color: #072d3a;
}

.bak-project main h1, .bak-project main h2, .bak-project main h3, .bak-project main h4, .bak-project main h5, .bak-project main h6 {
  padding: 5px 0;
}

.bak-project main #shop-list {
  display: none;
}

.bak-project main #where-buy {
  text-decoration: underline;
}

.bak-project main li {
  list-style-type: none;
  padding: 5px;
}

.bak-project main li.separate {
  border-bottom: 1px solid #9adff4;
}

.bak-project main img.phone {
  height: 1em;
  position: relative;
  top: 1px;
  margin-right: 5px;
}

.bak-project main .news-header {
  width: 60%;
  margin: auto;
  font-size: 1.5rem;
  margin-top: 20px;
  padding: 0 10px;
}

@media (max-width: 992px) {
  .bak-project main .news-header {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .bak-project main .news-header {
    width: 95%;
  }
}

.bak-project main .news-date {
  display: block;
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 10px;
}

.bak-project main .news-content {
  width: 60%;
  position: relative;
  margin: 15px auto;
  padding: 0 10px 15px;
  text-align: justify;
  font-size: 1rem;
  border-bottom: 1px solid #9adff4;
}

@media (max-width: 992px) {
  .bak-project main .news-content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .bak-project main .news-content {
    width: 95%;
  }
}

.bak-project main .books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bak-project main .books .book-left {
  width: 35%;
  margin-right: 5%;
}

.bak-project main .books .book-left li {
  padding: 5px 15px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
  background: -webkit-gradient(linear, right top, left top, from(white), to(#9adff4));
  background: linear-gradient(to left, white, #9adff4);
}

.bak-project main .books .book-left span {
  width: 80%;
}

.bak-project main .books .book-left span.bage {
  width: 2em;
  font-size: 0.8em;
  text-align: center;
  -webkit-box-shadow: 1px 1px 1px 1px #e3e7ec;
          box-shadow: 1px 1px 1px 1px #e3e7ec;
  padding: 3px 0;
  border-radius: 50%;
}

.bak-project main .books .book-left a {
  text-decoration: none;
}

.bak-project main .books .book-left .active {
  font-weight: bold;
  font-size: 1.1em;
}

.bak-project main .books .book-right {
  width: 65%;
}

.bak-project main .books .book-right li {
  padding: 10px 0 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #9adff4;
  margin: 10px 0;
}

.bak-project main .books .book-right li div {
  width: 70%;
}

.bak-project main .books .book-right li span {
  display: block;
}

.bak-project main .books .book-right li span.book-author {
  color: #072d3a;
  font-style: italic;
}

.bak-project main .books .book-right li span.book-name {
  font-size: 1.1em;
}

.bak-project main .books .book-right li span.img {
  width: 15%;
  text-align: center;
}

.bak-project main .books .book-right li span img {
  max-width: 80px;
  max-height: 80px;
  -webkit-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.bak-project main .shop-title {
  padding-left: 20px;
}

.bak-project main .shop-item {
  padding-left: 50px;
  margin-bottom: 15px;
}

.bak-project main #authors-books {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bak-project main #authors-books #book-list {
  width: 49%;
}

.bak-project main #authors-books #book-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bak-project main #authors-books #book-list li span {
  display: inline-block;
}

.bak-project main #authors-books #book-list li span:nth-child(1) {
  text-align: right;
  font-style: italic;
  width: 70%;
}

.bak-project main #authors-books #book-list li span:nth-child(2) {
  position: relative;
  width: 25%;
  margin-left: 10px;
  text-align: center;
}

.bak-project main #authors-books #book-list li img {
  position: relative;
  left: 0;
  max-width: 70px;
  max-height: 70px;
  margin: auto;
}

.bak-project main #authors-books #author-list {
  width: 50%;
}

.bak-project main #authors-books .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bak-project main #authors-books .author #author-describe {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bak-project main #authors-books .author span.bage {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 2px 2px 7px 0 #071e25;
          box-shadow: 2px 2px 7px 0 #071e25;
  width: 20px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  padding: 2px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 26px;
  top: 5px;
  font-weight: bold;
}

.bak-project main #authors-books .author .author-name {
  display: inline-block;
  text-align: right;
  width: 80%;
  border-bottom: 1px solid #9adff4;
  padding-bottom: 10px;
  padding-right: 20px;
}

.bak-project main #authors-books .author .author-name.active-item {
  font-size: 1.2em;
  border-bottom-width: 3px;
  font-weight: bold;
}

.bak-project main #authors-books .author img.author-photo {
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  position: relative;
  left: -7px;
  top: -8px;
  -webkit-box-shadow: 2px 2px 7px 0px gray;
          box-shadow: 2px 2px 7px 0px gray;
}

.bak-project main #authors-books .author span.author-photo {
  width: 70px;
  margin: 0;
  display: inline-block;
}

.bak-project main #authors-books .author a {
  position: relative;
  margin-left: 20px;
}

.bak-project main #authors-books .author a img.books {
  width: 60px;
}

.bak-project main #authors-books .author-describe {
  display: none;
  padding: 5px;
  font-style: italic;
  font-size: 0.9em;
  text-align: justify;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  margin: 15px 0 30px 0;
  width: 85%;
}

.bak-project main #authors-books .author-describe img.close {
  position: absolute;
  cursor: pointer;
  width: 15px;
  height: 15px;
  top: -7px;
  right: -8px;
}

.bak-project footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  background-color: #9adff4;
  color: #2c5461;
  width: 100%;
  padding: 5px;
  text-align: center;
  -webkit-box-shadow: 0 -5px 25px 10px white;
          box-shadow: 0 -5px 25px 10px white;
}
/*# sourceMappingURL=styles.css.map */