* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bak-project {
  font-family: sans-serif;
  padding: 0 0px;
}

.bak-project #nav-button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  display: none;
  z-index: 10;
}

@media (max-width: 500px) {
  .bak-project #nav-button {
    display: block;
  }
}

.bak-project #login-button {
  position: absolute;
  z-index: 1000;
  opacity: 0;
}

.bak-project #logout-button {
  position: absolute;
  z-index: 1000;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

.bak-project .edit-button {
  width: 30px;
  cursor: pointer;
}

.bak-project .vert-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bak-project a {
  color: #071e25;
  cursor: pointer;
}

.bak-project a:active {
  color: #2c5461;
}

.bak-project li {
  list-style-type: none;
}

.bak-project .click {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.bak-project header {
  z-index: 10;
  width: 100%;
  height: 133px;
  position: fixed;
  background-image: url(img/bluewithstripes.jpg);
}

.bak-project header .logo {
  position: absolute;
  width: 100%;
}

.bak-project header .logo .logo-gradient {
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#2c5461));
  background: linear-gradient(to right, transparent, #2c5461);
  height: 133px;
  width: 100%;
}

.bak-project nav {
  min-width: 480px;
  background-color: #9adff4;
  padding: 10px 0 5px 15px;
  position: fixed;
  top: 133px;
  width: 100%;
  -webkit-box-shadow: 0 20px 25px 10px white;
          box-shadow: 0 20px 25px 10px white;
}

.bak-project nav a {
  margin: 0 5px;
  padding: 5px 5px 10px 5px;
  text-decoration: none;
  border-radius: 5px;
  color: #2c5461;
}

.bak-project nav a:hover {
  color: black;
}

.bak-project nav a:active {
  color: #2c5461;
}

@media (max-width: 500px) {
  .bak-project nav a {
    display: none;
  }
}

.bak-project nav .nav-active {
  background-color: white;
}

.bak-project ul#smart-nav {
  margin: 10px;
  position: fixed;
  display: none;
  opacity: 0;
  top: 60px;
  right: 0;
  z-index: 10;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px 50px;
  -webkit-box-shadow: 3px 3px 7px 1px #2c5461;
          box-shadow: 3px 3px 7px 1px #2c5461;
}

.bak-project ul#smart-nav li {
  margin: 25px 0;
  font-size: 1.2em;
}

.bak-project main {
  padding: 200px 50px;
  color: #071e25;
}

.bak-project main .main-content {
  opacity: 0;
  width: 60%;
  position: relative;
  margin: auto;
}

@media (max-width: 992px) {
  .bak-project main .main-content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .bak-project main .main-content {
    width: 95%;
  }
}

.bak-project main .main-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px 0;
}

.bak-project main .main-content .img {
  text-align: center;
  margin: 150px 0 0 0;
  padding: 0;
  display: block;
}

.bak-project main .main-content .img img {
  max-width: 90%;
}

.bak-project main .main-content p {
  text-align: justify;
  font-size: 1.2em;
  color: #071e25;
}

@media (max-width: 992px) {
  .bak-project main {
    padding: 200px 20px;
  }
}

@media (max-width: 768px) {
  .bak-project main {
    padding: 200px 10px;
  }
}

.bak-project main b, .bak-project main h1, .bak-project main h2, .bak-project main h3, .bak-project main h4, .bak-project main h5, .bak-project main h6 {
  color: #072d3a;
}

.bak-project main h1, .bak-project main h2, .bak-project main h3, .bak-project main h4, .bak-project main h5, .bak-project main h6 {
  padding: 5px 0;
}

.bak-project main #shop-list {
  display: none;
}

.bak-project main #where-buy {
  text-decoration: underline;
}

.bak-project main li {
  list-style-type: none;
  padding: 5px;
}

.bak-project main li.separate {
  border-bottom: 1px solid #9adff4;
}

.bak-project main img.phone {
  height: 1em;
  position: relative;
  top: 1px;
  margin-right: 5px;
}

.bak-project main .news-item {
  opacity: 0;
}

.bak-project main .news-header {
  width: 60%;
  margin: auto;
  font-size: 1.5rem;
  margin-top: 20px;
  padding: 0 10px;
}

@media (max-width: 992px) {
  .bak-project main .news-header {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .bak-project main .news-header {
    width: 95%;
  }
}

.bak-project main .news-date {
  display: block;
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 10px;
}

.bak-project main .news-content {
  width: 60%;
  position: relative;
  margin: 15px auto;
  padding: 0 10px 15px;
  text-align: justify;
  font-size: 1rem;
  border-bottom: 1px solid #9adff4;
}

@media (max-width: 992px) {
  .bak-project main .news-content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .bak-project main .news-content {
    width: 95%;
  }
}

.bak-project main .book-right {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@media (max-width: 768px) {
  .bak-project main .book-right {
    width: 100%;
  }
}

.bak-project main .book-right .book-item {
  opacity: 0;
  padding: 10px 0 20px 10px;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 5px 0 #9adff4;
          box-shadow: 0px 2px 5px 0 #9adff4;
  margin: 10px 2%;
  border-radius: 8px;
  padding: 15px;
}

@media (max-width: 1100px) {
  .bak-project main .book-right .book-item {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .bak-project main .book-right .book-item {
    width: 100%;
    text-align: center;
  }
  .bak-project main .book-right .book-item .book-author {
    margin-bottom: 10px;
  }
}

.bak-project main .book-right .book-item div {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.bak-project main .book-right .book-item span {
  display: block;
}

.bak-project main .book-right .book-item span.book-folder {
  display: none;
}

.bak-project main .book-right .book-item span.btns img {
  margin: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.bak-project main .book-right .book-item span.book-author {
  color: #072d3a;
  font-style: italic;
  text-align: center;
}

.bak-project main .book-right .book-item span.book-name {
  font-size: 1.1em;
  margin-bottom: 10px;
  text-align: center;
}

.bak-project main .book-right .book-item span.img {
  width: 35%;
  text-align: center;
}

.bak-project main .book-right .book-item span img {
  max-width: 80px;
  max-height: 100px;
  -webkit-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 10px;
}

.bak-project main .book-right .book-item span img.writer {
  width: 25px;
  position: relative;
  top: 13px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.bak-project main .book-right .book-item .book-describe {
  display: none;
  text-align: justify;
  margin: 20px 0;
  width: 100%;
  word-wrap: break-word;
}

.bak-project main .book-right .book-item.book-view {
  display: block;
  width: 100%;
  height: auto;
  cursor: default;
}

.bak-project main .book-right .book-item.book-view div {
  width: 100%;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .bak-project main .book-right .book-item.book-view div {
    width: 100%;
  }
}

.bak-project main .book-right .book-item.book-view .img {
  width: 100%;
}

.bak-project main .book-right .book-item.book-view .book-name {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.bak-project main .book-right .book-item.book-view .book-author {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.bak-project main .book-right .book-item.book-view .book-folder {
  display: inline-block;
  margin: auto;
  cursor: pointer;
  margin-bottom: 10px;
}

.bak-project main .book-right .book-item.book-view .book-folder a {
  text-decoration: none;
}

.bak-project main .book-right .book-item.book-view .book-folder img {
  margin-right: 10px;
}

.bak-project main .book-right .book-item.book-view .book-describe {
  display: block;
}

.bak-project main .book-right .book-item.book-view img {
  max-width: 50%;
  max-height: 50%;
}

.bak-project main #folder-list {
  background-color: #e3e7ec;
  background: -webkit-gradient(linear, left top, right top, from(#e3e7ec), to(#fff));
  background: linear-gradient(to right, #e3e7ec, #fff);
  border-radius: 8px;
  text-decoration: none;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 5px;
  color: #2c5461;
  font-weight: bold;
  margin-bottom: 30px;
}

.bak-project main #folder-list img {
  height: 1em;
  margin: 0 5px;
  position: relative;
  top: 2px;
}

.bak-project main .books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  .bak-project main .books {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bak-project main .books .book-left {
  width: 35%;
  margin-right: 5%;
}

.bak-project main .books .book-left button {
  margin: 15px 0;
}

@media (max-width: 768px) {
  .bak-project main .books .book-left {
    width: 100%;
  }
}

.bak-project main .books .book-left li {
  padding: 5px 15px;
  border-radius: 10px;
  border-top-left-radius: 0;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  background: -webkit-gradient(linear, right top, left top, from(white), to(#9adff4));
  background: linear-gradient(to left, white, #9adff4);
}

.bak-project main .books .book-left li a {
  text-decoration: none;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.bak-project main .books .book-left li a.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .bak-project main .books .book-left li a {
    display: none;
  }
}

.bak-project main .books .book-left li a.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bak-project main .books .book-left li a span {
  width: 80%;
}

.bak-project main .books .book-left li a span.bage {
  width: 2em;
  height: 2em;
  font-size: 0.8em;
  text-align: center;
  -webkit-box-shadow: 1px 1px 1px 1px #e3e7ec;
          box-shadow: 1px 1px 1px 1px #e3e7ec;
  padding: 3px 0;
  border-radius: 50%;
}

.bak-project main .books .book-left li a img#close-book {
  height: 1em;
  margin-right: 5px;
  display: block;
}

.bak-project main .books .book-left li a img#open-book {
  display: none;
}

.bak-project main .books .book-left li a .active {
  font-weight: bold;
  font-size: 1.1em;
}

.bak-project main .books .book-left li a .active img#open-book {
  height: 1em;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bak-project main .books .book-left li a .active img#close-book {
  display: none;
}

.bak-project main .shop-title {
  padding-left: 20px;
}

.bak-project main .shop-item {
  padding-left: 50px;
  margin-bottom: 15px;
}

.bak-project main #authors-books {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .bak-project main #authors-books {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bak-project main #authors-books #author-list {
  width: 40%;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1100px) {
  .bak-project main #authors-books #author-list {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .bak-project main #authors-books #author-list {
    width: 100%;
    margin-right: 0;
  }
}

.bak-project main #authors-books #author-list a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  display: none;
}

.bak-project main #authors-books #author-list a.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .bak-project main #authors-books #author-list a {
    display: none;
  }
}

.bak-project main #authors-books #author-list .active-item {
  font-size: 1.2em;
  border-bottom-width: 3px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bak-project main #authors-books #author-list .active-item span {
  border: none;
}

.bak-project main #authors-books .author {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
}

@media (max-width: 992px) {
  .bak-project main #authors-books .author {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .bak-project main #authors-books .author {
    width: 70%;
  }
}

.bak-project main #authors-books .author a {
  width: 100%;
}

.bak-project main #authors-books .author .books-by-author {
  position: relative;
}

.bak-project main #authors-books .author .books-by-author .bage {
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 7px 0 #071e25;
          box-shadow: 2px 2px 7px 0 #071e25;
  width: 15px;
  height: 15px;
  font-size: 10px;
  text-align: center;
  padding: 2px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 18px;
  top: 11px;
  font-weight: bold;
}

.bak-project main #authors-books .author .books-by-author img.books {
  width: 27px;
}

.bak-project main #authors-books .author .author-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  border-bottom: 1px solid #9adff4;
  padding-bottom: 10px;
  padding-right: 20px;
}

.bak-project main #authors-books .author img.author-photo {
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  position: relative;
  left: -7px;
  top: -8px;
  -webkit-box-shadow: 2px 2px 7px 0px gray;
          box-shadow: 2px 2px 7px 0px gray;
}

.bak-project main #authors-books .author span.author-photo {
  width: 70px;
  margin: 0;
  display: inline-block;
}

.bak-project main #authors-books .describe-text {
  padding: 5px;
  font-style: italic;
  font-size: 0.9em;
  text-align: justify;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  margin: 15px 0 30px 0;
}

.bak-project main #authors-books .describe-text img.close {
  position: absolute;
  cursor: pointer;
  width: 15px;
  height: 15px;
  top: -7px;
  right: -8px;
}

.bak-project footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  background-color: #9adff4;
  color: #2c5461;
  width: 100%;
  padding: 5px;
  text-align: center;
  -webkit-box-shadow: 0 -5px 25px 10px white;
          box-shadow: 0 -5px 25px 10px white;
}

.bak-project #pages {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.bak-project #pages .page {
  cursor: pointer;
  height: 300px;
  width: 300px;
  position: relative;
}

.bak-project #pages .page .page-in {
  width: 100%;
  height: 100%;
  border: 3px solid #9adff4;
  position: absolute;
  background-color: #fff;
  padding: 15px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  overflow: hidden;
  -webkit-box-shadow: -8px 0px 7px 6px white;
          box-shadow: -8px 0px 7px 6px white;
}

.bak-project #pages .page .page-in:hover {
  border-color: #32c2ee;
}

.bak-project #pages .page .page-in h5 {
  margin: 0 0 5px 0;
  overflow: hidden;
}

.bak-project #pages .page .page-in span {
  font-size: 0.9em;
  line-height: 1.5em;
  overflow: hidden;
}

.bak-project #pages .page .page-in-right {
  width: 100%;
  height: 100%;
  border: 3px solid #9adff4;
  position: absolute;
  background-color: #fff;
  padding: 5px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 5px 0px 8px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 0px 8px -2px rgba(0, 0, 0, 0.5);
}

.bak-project #pages .page .page-in-right:hover {
  border-color: #32c2ee;
}

.bak-project #pages .page .page-in-right div {
  left: 0;
}

.bak-project #pages .page .page-in-right img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0;
}

.bak-project form.admin {
  text-align: left;
}

.bak-project form.admin * {
  margin: 2px 0;
}

.bak-project form.admin li {
  clear: both;
}

.bak-project form.admin .button {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 0.8em;
  background-color: #dfdbdb;
  margin: 5px;
  cursor: pointer;
}

.bak-project form.admin .invisible {
  visibility: hidden;
}

.bak-project form.admin span {
  display: inline-block;
}

.bak-project form.admin #img-book {
  width: auto;
  max-height: 140px;
  text-align: center;
  float: right;
  margin-right: 98px;
}

.bak-project form.admin select {
  padding: 5px;
}

.bak-project form.admin .wait {
  position: relative;
  left: -30px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 5px 5px;
  visibility: hidden;
}

.bak-project form.admin .wait img {
  width: 40px;
}

.bak-project form.admin input {
  margin: 2px;
  padding: 5px;
  width: 60%;
}

.bak-project form.admin input[type="checkbox"] {
  width: auto;
}

.bak-project form.admin input[type="file"] {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
}

.bak-project form.admin textarea {
  width: 90%;
  padding: 5px;
}

.bak-project form.admin #bookauthor, .bak-project form.admin #bookauthor-select {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 30%;
  overflow-x: hidden;
  margin-bottom: 10px;
  height: 7em;
  float: left;
  display: block;
  margin-right: 20px;
}

.bak-project form.admin #bookauthor img, .bak-project form.admin #bookauthor-select img {
  max-width: 1em;
  max-height: 1em;
  cursor: pointer;
  position: relative;
  top: 2px;
  margin-right: 3px;
}

.bak-project form.admin #bookauthor-select {
  height: 65%;
  display: none;
  position: absolute;
  top: 50px;
  left: 150px;
  background-color: white;
  padding: 10px;
  border: 2px solid gray;
}

.bak-project form.admin #bookauthor-select li {
  cursor: pointer;
}

.bak-project form.admin #picture-list {
  display: none;
  position: absolute;
  background-color: lightgray;
  top: 20px;
  left: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 5px;
  overflow-y: scroll;
  width: 80%;
  height: 80%;
  border: 2px solid black;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 3px 2px gray;
          box-shadow: 2px 2px 3px 2px gray;
}

.bak-project form.admin #picture-list div {
  width: 25%;
  height: 50%;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bak-project form.admin #picture-list div img {
  max-height: 100%;
  max-width: 100%;
  cursor: pointer;
}

.bak-project form.admin #picture-list div img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.bak-project form.admin #picture-list div img.del-picture {
  position: relative;
  top: -9px;
  left: -11px;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
}

.bak-project form#change-psw {
  border: 1px solid #9adff4;
  border-radius: 10px;
  width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  display: none;
}

.bak-project form#change-psw * {
  margin-bottom: 10px;
  display: block;
}

.bak-project form#change-psw input {
  width: 60%;
}

.bak-project form#change-psw span {
  font-size: 0.8em;
  color: red;
}
/*# sourceMappingURL=styles.css.map */